// Fontes
$fontePrincipal: Roboto, sans-serif;

// Esquema de cores
$corDeFundo: #d1d8e0;
$corPrincipal: #45aaf2;
$corSecundaria: #2d98da;
$corDeTexto: #fff;

// Breackpoist
$mobile: 767px;
$tablet: 1023px;